name: Test
on: [push]
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Get dependencies cache key
        id: dependencies-cache-key
        run: echo "hash=$(md5sum pyproject.toml | awk '{print $1}')" >> $GITHUB_OUTPUT
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Setup environment
        run: make .venv
      - name: Run tests
        run: make coverage.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: true
